<!DOCTYPE html>
{% load static %}
<html style="height: 100%">
   <head>
       {% load static %}
       <meta charset="utf-8">
       <script type="text/javascript" async="" src="{% static "js/conversion.js"%}"></script><script src="{% static "js/allmobilize.min.js"%}" charset="utf-8" id="allmobilize"></script><style type="text/css"></style>
        <meta content="no-siteapp" http-equiv="Cache-Control">
        <link  media="handheld" rel="alternate">
        <!-- end 云适配 -->
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>数据Jobs-最专业的互联网招聘平台</title>
        <meta content="23635710066417756375" property="qc:admins">
        <meta name="description" content="数据jobs是互联网领域的新型招聘网站,互联网职业机会尽在数据jobs">
        <meta name="keywords" content="数据Jobs,数据Jobs,数据Jobs,智联, 互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招">
        <meta content="QIQ6KC1oZ6" name="baidu-site-verification">
         <link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet">
        <link href="{% static "css/external.min.css"%}" type="text/css" rel="stylesheet">
        <link href="{% static "css/popup.css"%}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{% static "js/jquery.1.10.1.min.js"%}"></script>
        <script src="{% static "js/jquery.lib.min.js"%}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static "js/ajaxfileupload.js"%}"></script>
        <script src="{% static "js/additional-methods.js"%}" type="text/javascript"></script>
   </head>
   <body style="height: 100%; margin: 0">
   <div id="header">
    	<div class="wrapper">
    		<a class="logo" href="h/">
    			<img width="200" height="45" alt="数据Jobs-专注互联网招聘" src="{% static "images/logo_WPS图片.jpg"%}">
    		</a>
    		<ul id="navheader" class="reset">
    			<li><a href="/index.html" >首页</a></li>
    			<li><a href="/companylist.html" >公司</a></li>
    			<li class="current"><a target="_blank" href="//gwfenxi.html"  >岗位分析</a></li>
                <li>
                    <a rel="nofollow" href="/positions.html" >简历管理</a>
                </li>
                <li><a rel="nofollow" href="/create.html" >发布职位</a></li>
            </ul>
            {% if order != '' %}
            <dl class="collapsible_menu">
            	<dt>
           			<span>{{ order }}&nbsp;</span>
            		<span class="red dn" id="noticeDot-1"></span>
            		<i></i>
            	</dt>
                <dd style="display: none;"><a href="/positions.html" >我发布的职位</a></dd>
                <dd style="display: none;"><a href="/positions.html" >我收到的简历</a></dd>
                <dd class="btm" style="display: none;"><a href="/myhome.html" >我的公司主页</a></dd>
                <dd style="display: none;"><a href="/list.html" >我要找工作</a></dd>
                <dd style="display: none;"><a href="/accountBind.html" >帐号设置</a></dd>
                <dd class="logout" style="display: none;"><a rel="nofollow" href="/user/login.html" >退出</a></dd>
            </dl>
            {% else %}
			<ul class="loginTop">
            	<li><a href="/user/login.html"  rel="nofollow">登录</a></li>
            	<li>|</li>
            	<li><a href="/user/register.html"  rel="nofollow">注册</a></li>
            </ul>
            {% endif %}
        </div>
    </div><!-- end #header -->
<script>
    function get_data() {
                var knum = $("#knum");
                {#document.getElementById('div1').hidden = false;#}
                $("#div1").prop("hidden",false);
               var url = "/data/knn/";
               $.ajax({
                   url: url,
                   type: "POST",
                   async: true,
                   data: {'knum': knum.val()},
                   dataType: "json",
                   success: function (result) {


                       result.knn.forEach(function (obj) {
                           var tab = $("#table");
                           var html_ = "<tr><td>" + obj.k + "</td><td>" + obj.score + "</td></tr>";
                           tab.append(html_);
                    });
                       var div = $("#div2");
                       var div_html = "<h3>样本总数为："+result.total+"</h3><h3>测试样本比例"+result.test_size+"</h3>";
                       div.append(div_html)
                    $("#div1").prop("hidden",true);
                   }

               })

        {#document.getElementById('hid1').hidden = true;#}
    }
</script>
<div style="height: 190%;width: 1200px">
    <p style="margin: 10px 280px 0px 250px;font-size: 16px;font-family:'微软雅黑','宋体',Arial;">python---KNN算法以城市，学历，工作年限为特征，薪资范围为标签的训练测试过程</p>
    <div align="center">
    <p style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">请输入训练参数K的最大上限：</p><input type="number" id="knum" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">
        <input type="button" onclick="get_data()" value="提交" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;"><br/>
</div>
<div align="center" id="div1" hidden>
    <h4 id="hid1" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">结果正在生成中......请稍后！</h4>
</div>
<div align="center" id="div2"></div><br/>
<table border="1px" cellspacing="0" align="center" id="table">
    <tr id="tr" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">
        <th>k值</th>
        <th>分类精度</th>
    </tr>
</table>
</div>
<div id="footer">
		<div class="wrapper">
			<a rel="nofollow" target="_blank" href="/h/about.html" >联系我们</a>
		    <a target="_blank" href="https://sou.zhaopin.com/?jl=489&kw=%E4%BA%92%E8%81%94%E7%BD%91&kt=3&sf=0&st=0">互联网公司导航</a>
		    <a rel="nofollow" target="_blank" href="http://e.weibo.com">数据Jobs微博</a>
		    <a rel="nofollow" href="javascript:void(0)" class="footer_qr">数据Jobs微信<i></i></a>
			<div class="copyright">&copy;2019 sjjsc <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">川ICP备14023791号-2</a></div>
		</div>
	</div>
    <script src="{% static "js/core.min.js" %}" type="text/javascript"></script>
   <script src="{% static "js/popup.min.js" %}" type="text/javascript"></script>
</body>
</html>