<!DOCTYPE html>
{% load static %}
<html style="height: 100%">
   <head>
       {% load static %}
       <meta charset="utf-8">
       <script type="text/javascript" async="" src="{% static "js/conversion.js"%}"></script><script src="{% static "js/allmobilize.min.js"%}" charset="utf-8" id="allmobilize"></script><style type="text/css"></style>
        <meta content="no-siteapp" http-equiv="Cache-Control">
        <link  media="handheld" rel="alternate">
        <!-- end 云适配 -->
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>数据Jobs-最专业的互联网招聘平台</title>
        <meta content="23635710066417756375" property="qc:admins">
        <meta name="description" content="数据jobs是互联网领域的新型招聘网站,互联网职业机会尽在数据jobs">
        <meta name="keywords" content="数据Jobs,数据Jobs,数据Jobs,智联, 互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招">
        <meta content="QIQ6KC1oZ6" name="baidu-site-verification">
         <link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet">
        <link href="{% static "css/external.min.css"%}" type="text/css" rel="stylesheet">
        <link href="{% static "css/popup.css"%}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{% static "js/jquery.1.10.1.min.js"%}"></script>
        <script src="{% static "js/jquery.lib.min.js"%}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static "js/ajaxfileupload.js"%}"></script>
        <script src="{% static "js/additional-methods.js"%}" type="text/javascript"></script>
   </head>
   <body style="height: 100%; margin: 0">
   <div id="header">
    	<div class="wrapper">
    		<a class="logo" href="h/">
    			<img width="200" height="45" alt="数据Jobs-专注互联网招聘" src="{% static "images/logo_WPS图片.jpg"%}">
    		</a>
    		<ul id="navheader" class="reset">
    			<li><a href="/index.html" >首页</a></li>
    			<li><a href="/companylist.html" >公司</a></li>
    			<li class="current"><a target="_blank" href="/gwfenxi.html" >岗位分析</a></li>
                <li>
                    <a rel="nofollow" href="/positions.html" >简历管理</a>
                </li>
                <li><a rel="nofollow" href="/create.html" >发布职位</a></li>
            </ul>
            {% if order != '' %}
            <dl class="collapsible_menu">
            	<dt>
           			<span>{{ order }}&nbsp;</span>
            		<span class="red dn" id="noticeDot-1"></span>
            		<i></i>
            	</dt>
                <dd style="display: none;"><a href="/positions.html" >我发布的职位</a></dd>
                <dd style="display: none;"><a href="/positions.html" >我收到的简历</a></dd>
                <dd class="btm" style="display: none;"><a href="/myhome.html" >我的公司主页</a></dd>
                <dd style="display: none;"><a href="/list.html" >我要找工作</a></dd>
                <dd style="display: none;"><a href="/accountBind.html" >帐号设置</a></dd>
                <dd class="logout" style="display: none;"><a rel="nofollow" href="/user/login.html" >退出</a></dd>
            </dl>
            {% else %}
			<ul class="loginTop">
            	<li><a href="/user/login.html"  rel="nofollow">登录</a></li>
            	<li>|</li>
            	<li><a href="/user/register.html"  rel="nofollow">注册</a></li>
            </ul>
            {% endif %}
        </div>
    </div><!-- end #header -->
        <form  style="margin: 10px 400px 0px 100px;">
            <select id="item" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">
                <option>python</option>
                <option>java</option>
                <option>php</option>
                <option>web</option>
                <option>android</option>
                <option value="ui">UI</option>
                <option value="meigong">美工</option>
                <option value="sdxl">深度学习</option>
                <option value="suanfagcs">算法工程师<option>
            </select>
            <select id="city" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">
                <option>请选择城市</option>
            </select>
            <select id="edulevel" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">
                <option>请选择学历</option>
            </select>
            <select id="workingexp" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">
                <option>请选择工作年限</option>
            </select>

            <input type="button" onclick="get_query()" value="提交查询" style="font-size: 16px;font-family:'微软雅黑','宋体',Arial;">
            </form>
            <p style="font-size: 18px;font-family:'微软雅黑','宋体',Arial; margin-left: 100px">薪资预测：<input type="text" id="salary" style="width: 200px"></p>

       <div id="container" style="height: 90%"></div>
   <div class="clear"></div>
			<input type="hidden" value="" id="resubmitToken">
	    	<a rel="nofollow" title="回到顶部" id="backtop"></a>
	    </div><!-- end #container -->
	</div><!-- end #body -->
	<div id="footer">
		<div class="wrapper">
			<a rel="nofollow" target="_blank" href="/h/about.html" >联系我们</a>
		    <a target="_blank" href="https://sou.zhaopin.com/?jl=489&kw=%E4%BA%92%E8%81%94%E7%BD%91&kt=3&sf=0&st=0">互联网公司导航</a>
		    <a rel="nofollow" target="_blank" href="http://e.weibo.com">数据Jobs微博</a>
		    <a rel="nofollow" href="javascript:void(0)" class="footer_qr">数据Jobs微信<i></i></a>
			<div class="copyright">&copy;2019 sjjsc <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">川ICP备14023791号-2</a></div>
		</div>
	</div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://api.map.baidu.com/api?v=20&ak=2kb0dKBPXzZdzbkpO7jrWF4m3EUyasfT"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
       <script type="text/javascript">
           function get_query() {
               var item = $("#item");
                var city = $("#city");
                var edulevel = $("#edulevel");
                var workingexp = $("#workingexp");

                $.ajax({
                    type: "POST",
                    data: {'item':item.val(),'city': city.val(), 'edulevel': edulevel.val(), 'workingexp': workingexp.val()},
                    url: "/data/line/",
                    async: true,
                    dataType: "json",
                    success: function (result) {
                        $("#salary").prop('value',result.salary)
                        var dom = document.getElementById("container");
                        var myChart = echarts.init(dom);
                        var app = {};
                        option = null;
                        option = {
                            title: {
                                text: 'Python相关职位查询结果薪资折线图',
                                x:'center',
                                y:'top',
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data:['薪资下限','薪资上限'],
                                top:'5%',
                                left:'5%',
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                },
                                right:'10%'
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: result.index
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [
                                {
                                    name:'薪资上限',
                                    type:'line',
                                    data:result.max
                                },
                                {
                                    name:'薪资下限',
                                    type:'line',
                                    data:result.min
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    }
                });
            }

            $(document).ready(function() {
                var url="/data/query/";
                $.ajax({
                    type: "GET",
                    url: url,
                    async: true,
                    dataType: "json",
                    success: function (result) {

                            result.city.forEach(function (obj) {
                                var city=$("#city");
                                var html_good = "<option>" + obj + "</option>" ;
                                city.append(html_good);
                            });
                            result.edulevel.forEach(function (obj) {
                                var edulevel=$("#edulevel");
                                var html_good = "<option>" + obj + "</option>" ;
                                edulevel.append(html_good);
                            });
                            result.workingexp.forEach(function (obj) {
                                var workingexp=$("#workingexp");
                                var html_good = "<option>" + obj + "</option>" ;
                                workingexp.append(html_good);
                            });
                        }
                    });
            });
       </script>
    <script src="{% static "js/core.min.js" %}" type="text/javascript"></script>
   <script src="{% static "js/popup.min.js" %}" type="text/javascript"></script>
   </body>
</html>