<!DOCTYPE html>
{% load static %}
<html style="height: 100%">
   <head>
       {% load static %}
       <meta charset="utf-8">
       <script type="text/javascript" async="" src="{% static "js/conversion.js"%}"></script><script src="{% static "js/allmobilize.min.js"%}" charset="utf-8" id="allmobilize"></script><style type="text/css"></style>
        <meta content="no-siteapp" http-equiv="Cache-Control">
        <link  media="handheld" rel="alternate">
        <!-- end 云适配 -->
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>数据Jobs-最专业的互联网招聘平台</title>
        <meta content="23635710066417756375" property="qc:admins">
        <meta name="description" content="数据jobs是互联网领域的新型招聘网站,互联网职业机会尽在数据jobs">
        <meta name="keywords" content="数据Jobs,数据Jobs,数据Jobs,智联, 互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招">
        <meta content="QIQ6KC1oZ6" name="baidu-site-verification">
         <link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet">
        <link href="{% static "css/external.min.css"%}" type="text/css" rel="stylesheet">
        <link href="{% static "css/popup.css" %}"type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{% static "js/jquery.1.10.1.min.js"%}"></script>
        <script src="{% static "js/jquery.lib.min.js"%}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static "js/ajaxfileupload.js"%}"></script>
        <script src="{% static "js/additional-methods.js"%}" type="text/javascript"></script>
   </head>
   <body style="height: 100%; margin: 0">
   <div id="header">
    	<div class="wrapper">
    		<a class="logo" href="h/">
    			<img width="200" height="45" alt="数据Jobs-专注互联网招聘" src="{% static "images/logo_WPS图片.jpg"%}">
    		</a>
    		<ul id="navheader" class="reset">
    			<li><a href="/index.html" >首页</a></li>
    			<li><a href="/companylist.html" >公司</a></li>
    			<li class="current"><a target="_blank" href="/gwfenxi.html" >岗位分析</a></li>
                <li>
                    <a rel="nofollow" href="/positions.html" >简历管理</a>
                </li>
                <li><a rel="nofollow" href="/create.html" >发布职位</a></li>
            </ul>
            {% if order != '' %}
            <dl class="collapsible_menu">
            	<dt>
           			<span>{{ order }}&nbsp;</span>
            		<span class="red dn" id="noticeDot-1"></span>
            		<i></i>
            	</dt>
                <dd style="display: none;"><a href="/positions.html" >我发布的职位</a></dd>
                <dd style="display: none;"><a href="/positions.html" >我收到的简历</a></dd>
                <dd class="btm" style="display: none;"><a href="/myhome.html" >我的公司主页</a></dd>
                <dd style="display: none;"><a href="/list.html" >我要找工作</a></dd>
                <dd style="display: none;"><a href="/accountBind.html" >帐号设置</a></dd>
                <dd class="logout" style="display: none;"><a rel="nofollow" href="/user/login.html" >退出</a></dd>
            </dl>
            {% else %}
			<ul class="loginTop">
            	<li><a href="/user/login.html"  rel="nofollow">登录</a></li>
            	<li>|</li>
            	<li><a href="/user/register.html"  rel="nofollow">注册</a></li>
            </ul>
            {% endif %}
        </div>
    </div><!-- end #header -->
       <div id="container" style="height: 100%"></div>
       <div class="clear"></div>
			<input type="hidden" value="" id="resubmitToken">
	    	<a rel="nofollow" title="回到顶部" id="backtop"></a>
	    </div><!-- end #container -->
	</div><!-- end #body -->
	<div id="footer">
		<div class="wrapper">
			<a rel="nofollow" target="_blank" href="/h/about.html" >联系我们</a>
		    <a target="_blank" href="https://sou.zhaopin.com/?jl=489&kw=%E4%BA%92%E8%81%94%E7%BD%91&kt=3&sf=0&st=0">互联网公司导航</a>
		    <a rel="nofollow" target="_blank" href="http://e.weibo.com">数据Jobs微博</a>
		    <a rel="nofollow" href="javascript:void(0)" class="footer_qr">数据Jobs微信<i></i></a>
			<div class="copyright">&copy;2019 sjjsc <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">川ICP备14023791号-2</a></div>
		</div>
	</div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://api.map.baidu.com/api?v=20&ak=2kb0dKBPXzZdzbkpO7jrWF4m3EUyasfT"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
       <script type="text/javascript">

            var url="/data/map/";
            $.ajax({
                url: url,
                async: true,
                dataType: "json",
                success: function (result) {
                    var dom = document.getElementById("container");
                    var myChart = echarts.init(dom);
                    var app = {};
                    option = null;

                    var data = result.data;

                    var geoCoordMap = {
                        '青岛':[120.33,36.07],
                        '上海':[121.48,31.22],
                        '厦门':[118.1,24.46],
                        '福州':[119.3,26.08],
                        '宁波':[121.56,29.86],
                        '广州':[113.23,23.16],
                        '深圳':[114.07,22.62],
                        '大连':[121.62,38.92],
                        '沈阳':[123.38,41.8],
                        '苏州':[120.62,31.32],
                        '长春':[125.35,43.88],
                        '成都':[104.06,30.67],
                        '西安':[108.95,34.27],
                        '重庆':[106.54,29.59],
                        '南京':[118.78,32.04],
                        '无锡':[120.29,31.59],
                        '北京':[116.46,39.92],
                        '杭州':[120.19,30.26],
                        '济南':[117,36.65],
                        '天津':[117.2,39.13],
                        '郑州':[113.65,34.76],
                        '哈尔滨':[126.63,45.75],
                        '石家庄':[114.48,38.03],
                        '长沙':[113,28.21],
                        '合肥':[117.27,31.86],
                        '武汉':[114.31,30.52],
                        '惠州':[114.4,23.09],
                    };

                    var convertData = function (data) {
                        var res = [];
                        for (var i = 0; i < data.length; i++) {
                            var geoCoord = geoCoordMap[data[i].name];
                            if (geoCoord) {
                                res.push({
                                    name: data[i].name,
                                    value: geoCoord.concat(data[i].value)
                                });
                            }
                        }
                        return res;
                    };

                    function renderItem(params, api) {
                        var coords = [
                            [116.7,39.53],
                            [103.73,36.03],
                            [112.91,27.87],
                            [120.65,28.01],
                            [119.57,39.95]
                        ];
                        var points = [];
                        for (var i = 0; i < coords.length; i++) {
                            points.push(api.coord(coords[i]));
                        }
                        var color = api.visual('color');

                        return {
                            type: 'polygon',
                            shape: {
                                points: echarts.graphic.clipPointsByRect(points, {
                                    x: params.coordSys.x,
                                    y: params.coordSys.y,
                                    width: params.coordSys.width,
                                    height: params.coordSys.height
                                })
                            },
                            style: api.style({
                                fill: color,
                                stroke: echarts.color.lift(color)
                            })
                        };
                    }

                    option = {
                        // backgroundColor: '#404a59',
                        title: {
                            text: '全国主要城市职位信息总体统计情况',
                            subtext: '数据来自智联招聘网',
                            sublink: 'https://i.zhaopin.com/',
                            left: 'center',
                            textStyle: {
                                color: '#fff'
                            }
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: function (obj) {
                                var value = obj['value'];
                                // res[0]['value'][2]
                                return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                                        + '职位总体统计情况：'
                                    + '</div>'
                                    + 'Python：' + value[2] + '<br>'
                                    + 'Java：' + value[3] + '<br>'
                                    +'Web前端: ' + value[4] + '<br>'
                                    +'UI设计师: ' + value[5] + '<br>'
                                    +'android: ' + value[6] + '<br>'
                                    +'美工: ' + value[7] + '<br>'
                                    +'PHP: ' + value[8] + '<br>'
                                    +'深度学习: ' + value[9] + '<br>'
                                    +'算法工程师: ' + value[10] + '<br>';
                            }
                        },
                        bmap: {
                            center: [104.114129, 37.550339],
                            zoom: 5,
                            roam: true,
                            mapStyle: {
                                styleJson: [
                                        {
                                            "featureType": "water",
                                            "elementType": "all",
                                            "stylers": {
                                                "color": "#044161"
                                            }
                                        },
                                        {
                                            "featureType": "land",
                                            "elementType": "all",
                                            "stylers": {
                                                "color": "#004981"
                                            }
                                        },
                                        {
                                            "featureType": "boundary",
                                            "elementType": "geometry",
                                            "stylers": {
                                                "color": "#064f85"
                                            }
                                        },
                                        {
                                            "featureType": "railway",
                                            "elementType": "all",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "highway",
                                            "elementType": "geometry",
                                            "stylers": {
                                                "color": "#004981"
                                            }
                                        },
                                        {
                                            "featureType": "highway",
                                            "elementType": "geometry.fill",
                                            "stylers": {
                                                "color": "#005b96",
                                                "lightness": 1
                                            }
                                        },
                                        {
                                            "featureType": "highway",
                                            "elementType": "labels",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "arterial",
                                            "elementType": "geometry",
                                            "stylers": {
                                                "color": "#004981"
                                            }
                                        },
                                        {
                                            "featureType": "arterial",
                                            "elementType": "geometry.fill",
                                            "stylers": {
                                                "color": "#00508b"
                                            }
                                        },
                                        {
                                            "featureType": "poi",
                                            "elementType": "all",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "green",
                                            "elementType": "all",
                                            "stylers": {
                                                "color": "#056197",
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "subway",
                                            "elementType": "all",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "manmade",
                                            "elementType": "all",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "local",
                                            "elementType": "all",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "arterial",
                                            "elementType": "labels",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        },
                                        {
                                            "featureType": "boundary",
                                            "elementType": "geometry.fill",
                                            "stylers": {
                                                "color": "#029fd4"
                                            }
                                        },
                                        {
                                            "featureType": "building",
                                            "elementType": "all",
                                            "stylers": {
                                                "color": "#1a5787"
                                            }
                                        },
                                        {
                                            "featureType": "label",
                                            "elementType": "all",
                                            "stylers": {
                                                "visibility": "off"
                                            }
                                        }
                                ]
                            }
                        },
                        series : [
                            {
                                name: 'pm2.5',
                                type: 'scatter',
                                coordinateSystem: 'bmap',
                                data: convertData(data),
                                symbolSize: function (val) {
                                    // return val[2] / 10;
                                    return 10;
                                },
                                label: {
                                    normal: {
                                        formatter: '{b}',
                                        position: 'top',
                                        show: false
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#ddb926'
                                    }
                                }
                            },
                        ]
                    };;
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
                }
})
       </script>
   <script src="{% static "js/core.min.js" %}" type="text/javascript"></script>
   <script src="{% static "js/popup.min.js" %}" type="text/javascript"></script>
   </body>
</html>