<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功的界面</title>
</head>
<body>
    <div>
        <span>
            3
        </span>
        秒钟以后跳转到其他页面
    </div>
    <a href="/user/login.html" >立即跳转</a>
    <script src="{% static "js/jquery.js" %}"></script>
    <script>
//        设置3秒钟之后自动跳转界面
        $(function () {
            var second = 3
            setInterval(function () {
                second --;
                $('span').text(second + 's')
                if (second == 0)
                {
                    window.location.href = '/user/login.html'
                }
            },1000)
        })
    </script>


</body>
</html>
